#!/bin/bash

# Take a copy of this file and make it executable, then customise it.  DO NOT COMMIT TO GIT WHEN IT HAS CREDENTIALS IN IT!

# Enable logging?
#export TF_LOG=1

# Set Azure region
export TF_VAR_az_region="UK South"

# Cloudflare access:
export TF_VAR_cloudflare_email="...Cloudflare login email address..."
export TF_VAR_cloudflare_api_key="...Cloudflare API key..."
export TF_VAR_cloudflare_api_user_service_key="...Cloudflare API User Service Key (needed for creating origin CA cert)..."
export TF_VAR_cloudflare_zone_filter="...Domain zone to insert record under, e.g. example.com ..."
export TF_VAR_cloudflare_hostname="...Full hostname for public site, e.g. status-page.example.com ..."

